<h1>Welcome#index</h1>
<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">绑定账户</div>
      <div class="description">填写个人信息,绑定微信</div>
    </div>
  </div>
  <div class="step">
    <div class="content">
      <div class="title">选购</div>
      <div class="description">选购水果，下订单</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">确认订单</div>
      <div class="description">核对、修改订单信息</div>
    </div>
  </div>
</div>
