// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

figure {
  margin: 0px 0px;
}

figcaption {
  font-size: 12px;
} 
.truncate {
  height: 21px;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  font-size: 10px;
}
.product-name {
  font-size: 15px;
}
.plus {
  width: 32px;
  margin: 0px 2px;
}
.minus {
  width: 32px;
  margin: 0px 2px;
}
.compact {
  margin: 11px 7px;
  position: absolute;
  top: 40%;
  right: 0%;
  display: inline-block;
  width: 74px !important;
}
.grouped {
  margin: 11px 5px;
  position: absolute;
  top: 0%;
  right: 0%;
  display: inline-block;
}
.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.radio-group {
  margin: 10px 10px;
  width: 100%;
  /* display: table; table-layout: fixed;*/
}
.radio-group input[type=radio] {
  margin:10px;
  position: absolute;
  opacity: 0;
  width: 25%;
}
 
.radio-group input[type=radio] + label {
  /*display: table-cell;*/
  color:red;
  display:inline-block;
  margin: 2px 0px;
  padding: 4px 12px;
  background-color: white;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.radio-group input[type=radio]:checked + label { 
  color: white;
  border-color: #5CB85C;
  background-image: none;
  background-color: #5CB85C !important;
}
